.select-category,.select-name,.logo-list {
  padding: 0px 120px 0px 120px;
  margin: 100px auto 50px;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .logo-btn
{
    display: flex;
    column-gap: 2rem;
}

.content .logo-btn > .btn-submit {
  border: 0px;
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  line-height: 21px;
  transition: all 0.1s ease 0s;
  outline: none;
  background: rgb(83, 64, 255);
  color: rgb(255, 255, 255);
  
}

.content .logo-btn > .disable
{
    background: rgb(83, 64, 255);
    opacity: 0.4;
    cursor: not-allowed !important;
}

.content-data > .heading {
  font-size: 38px;
  font-weight: 700;
  color: rgb(19, 22, 35);
  line-height: 1.3;
  margin: 10px auto;
  letter-spacing: -0.7px;
  transition: transform 1s cubic-bezier(0.46, 0.06, 0.26, 1.01) 0s;
}

.content-data > .title {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(105, 108, 134);
  letter-spacing: 0.2px;
  line-height: 1.3;
}

.category-list
{
    margin: 60px auto;
}

.category-list > .list
{
    display: flex;
    column-gap: 1rem;
}

.category-list > .list button
{
    border: 2px solid rgb(83, 64, 255);
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    color: rgb(83, 64, 255);
    font-size: 23px;
    min-width: 170px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.category-list > .list button:hover
{
    background-color: rgb(83, 64, 255);
    color: white;
}

.category-list > .list .active
{
    background-color: rgb(83, 64, 255);
    color: white;
}

.input-type
{
    margin: 30px auto;
    width: 100%;
}

.input-type > input
{
    width: 100%;
    height: 60px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    font-size: 18px;
    border-radius: 1rem;
}

.logo-list .card-layout
{
    display: flex;
    column-gap: 1.5rem;
    flex-wrap: wrap;
    row-gap: 1.5rem;

}

.logo-list .card-layout .card
{
    width: 280px;
    height: 320px;
    box-shadow: 0px 0px 3px black;
    border-radius: 1.5rem;
}

.card-in
{
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15px;
}

.card-in > img
{
    width: 100px;
    height: 50%;
}
